html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Montserrat', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

.section-title h3 {
    font-weight: bolder;
    margin-bottom: 0;
}

.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

header {
    background-image: url(/images/schoolTeaching.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    height: 100vh;
}

.banner-container h1 {
    font-size: 3.5rem;
    background-color: rgba(7, 101, 189, .8);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
}

.navbar {
    padding: 5% 20%;
    background-color: rgba(0, 0, 0, .3);
}

.nav-link:hover {
    background: #2980b9;
    color: white;
    transform: scale(1.1);
}

/* Features Section */

.features {
    background-color: #e8ded2;
    padding: 20px;

}

.features-col {
    border: 1px solid #ff02c0;
    margin: 20px;
    padding: 10px;
}

.features-col:hover {
    transform: scale(1.1);
    box-shadow: grey;
}

.icon-style {
    font-size: 30px;
    background-color: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;
}

.para {
    text-align: justify;
}

/* Features Section End: */

/* Tutorial Section Start */

#about-me {
    margin-top: 10px 10px;
    background-color: #e8ded2;
    padding: 30px;
}

#about-me h5 {
    font-weight: bold;
}

#about-me .personal-info p {
    margin-top: 0;
    margin-bottom: 0;
}

#about-me .achievement p {
    text-align: justify;
}

/* Tutorial Section End */

/* Feedback Section Start */

#feedback {
    background-color: #5e88cf;
}

.carousel-item {
    align-items: center;
    padding: 7% 15%;
}

/* Feedback Section End */

/* Contact Section Start */
#contact {
    background-color: #114e4e;
    padding: 3% 10%;
}

/* Contact Section End */

/* Footer Section Start */
#footer-section {
    background-color: #1707ca;
}

#footer-section a {
    text-decoration: none;
    color: white;
}

/* Footer Section End */